.columns {
    height: 100%;
    display: flex;
    align-items: flex-start;
}

.column {
    max-height: 100%;
    width: 272px;
    display: flex;
    flex-direction: column;
    margin: 0 6px;
    padding-left: 12px;
    border-radius: 3px;
    background-color: var(--column-background);
}

.column__name {
    padding-top: 12px;
    font-weight: bold;
}

.column__cards-container {
    margin-top: 8px;
    padding-right: 12px;
    overflow-y: auto;
}

.column__card {
    margin-top: 8px;
    padding: 8px 8px 8px 12px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: var(--box-shadow);
    cursor: grab;
}

.column__card:active {
    cursor: grabbing;
}

.column__card:first-child {
    margin-top: 0;
}

@media (max-width: 414px) {
    .columns {
        flex-direction: column;
    }
}

