.columns {
    height: 100%;
    display: flex;
    align-items: flex-start;
}

.columns::after {
    height: 100%;
    padding-right: 20px;
    content: '';
}

.column {
    max-height: 100%;
    display: flex;
    flex: 0 0 272px;
    flex-direction: column;
    margin: 0 6px;
    border-radius: 3px;
    background-color: var(--column-background);
}

.column__name {
    padding: 12px 12px 0 12px;
    font-weight: bold;
}

.column__cards-container {
    margin-top: 8px;
    overflow-y: auto;
}

.column__cards {
    padding: 0 12px;
    margin-bottom: 2px;
}

.column__card, .column__shadow-card {
    margin-top: 8px;
    padding: 8px 8px 8px 12px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: var(--box-shadow);
    cursor: grab;
}

.column__shadow-card {
    padding: 0;
    box-shadow: none;
    background-color: var(--shadow-card-background);
    cursor: default;
}

.column__card:active {
    cursor: grabbing;
}

.column__card:first-child {
    margin-top: 0;
}

@media (max-width: 414px) {
    .columns {
        flex-direction: column;
    }
}

