.column__form {
    padding: 8px 12px 12px 0;
}

.column__open-form {
    width: 100%;
    margin-top: 4px;
    display: flex;
    align-items: center;
    color: #6b808c;
    background: none;
    cursor: pointer;
    transition: font-weight .05s linear;
}

.column__open-form:focus {
    font-weight: bold;
}

.column__button-title {
    margin-left: 8px;
}

.column__input {
    width: 100%;
    padding: 8px 8px 8px 12px;
    margin-bottom: 6px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: var(--box-shadow);
}

.column__input::placeholder {
    color: #b8b9bb;
}

.column__add_hidden,
.column__open-form_hidden {
    display: none;
}

.column__textarea {
    display: block;
    height: 54px;
    width: 100%;
    resize: none;
    margin-bottom: 6px;
    padding: 8px 12px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: var(--box-shadow);
}

.column__textarea::placeholder {
    color: #b8b9bb;
}

.column__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.column__add-card-button,
.column__add-column-button {
    height: 30px;
    width: 152px;
    margin-top: 3px;
    color: #fff;
    font-weight: bold;
    border-radius: 3px;
    background-color: var(--button-color);
    transition: background-color .2s linear;
    cursor: pointer;
}

.column__add-card-button:focus,
.column__add-column-button:focus {
    background-color: var(--dark-button-color);
}

.column__close-form-button {
    height: 15px;
    background-color: var(--column-background);
    transition: opacity .1s linear;
    opacity: .5;
    cursor: pointer;
}

.column__close-form-button:focus {
    opacity: 1;
}
